### 1. 홍길동 씨의 과목별 점수는 다음과 같다. 홍기동 씨의 평균 점수를 구해보자.

국어 : 80

영어 : 75

수학 : 55

In [16]:
scores = {'국어':80, '영어':70, '수학':55}
sum = 0
for score in scores.values():
    sum += score
    average = sum/len(scores)
print(average)

68.33333333333333

### 2. 자연수 13이 홀수인지 짝수인지 판별할 수 있도록 해라

In [17]:
def odd_or_even(x):
    if x % 2 == 0:
        return "짝수"
    else:
        return "홀수"
odd_or_even(13)

'홀수'


### 3. 홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연원일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자

In [36]:
pin = "881120-1068345"

In [57]:
pin.split("-")

'1'

### 4. 주민등록번호 뒷자리의 맨 첫번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

In [66]:
def fig_sex(pin):
    pin = pin.split("-")
    sex_pin = pin[1][0]
    print(sex_pin)
fig_sex(pin)

1

### 5. 다음과 같은 문자열 a:b:c:d가 있다.  a#b#c#d로 바꿔서 출력해보자.

In [67]:
a = "a:b:c:d"

In [68]:
a.replace(":", "#")

'a#b#c#d'

### 6. [1,3,5,4,2] 리스트를 [5,4,3,2,1]로 만들어 보자.

In [88]:
a = [1,3,5,4,2]

In [92]:
a.sort(reverse=True)
print(a)

[5, 4, 3, 2, 1]

### 7. ['Life','is','too','short']리스트를 Life is too short 문자열로 만들어 출력해보자

In [76]:
a = ['Life','is','too','short']

In [77]:
" ".join(a)

'Life is too short'

### 8. (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해보자

In [73]:
(1,2,3) + (4,)

(1, 2, 3, 4)

### 10. 딕셔너리 a에서 'B'에 해당하는 값을 추출해 보자.

In [78]:
a= {'A':90, 'B':80, 'C':70}

In [79]:
a['B']

80

### 11. a 리스트에서 중복 숫자를 제거해보자

In [80]:
a = [1,1,1,2,2,3,3,3,4,4,5]

In [83]:
def get_unique_list(list):
    unique_list = []
    for i in list:
        if i not in unique_list:
            unique_list.append(i)
    print(unique_list)
get_unique_list(a)

[1, 2, 3, 4, 5]